@model Postassignment.ViewModels.Homelist

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h2>Post your thoughts</h2>
    <form asp-action="makepost" asp-controller="home" method="post">
        <div class="form-group">
            <div class="form-group">
                <label>Enter your name</label>
                <input type="text" class="form-control" id="Username" placeholder="Enter name" required asp-for="newpost.P_user">
            </div>
            <label for="post">Comment:</label>
            <textarea class="form-control" rows="5" id="comment" placeholder="write your Message" asp-for="newpost.p_content" required></textarea>
            <button width="40px" type="submit" class="btn btn-primary">post</button>

        </div>
    </form>

    <h1>Posts</h1>

    @foreach (var post in Model.allposts)
    {
        <div class="post" style="height: 160px;width: 400px">

          <h6 align="center">Post-no:@post.p_id</h6>

            <h6>@post.P_user</h6>
            <p>@post.p_content</p>

            <div class="button" style="position:static; margin-left:40px;margin-top:10px;">

                <a style="border:solid white 1px;border-radius:50px" button" id="like" asp-controller="home" asp-action="addlike" asp-route-id="@post.p_id">Like(@post.like) </a>
                <a style="border:solid white 1px;border-radius:50px" class="button" id="comment" asp-controller="home" asp-action="makecomment" asp-route-id="@post.p_id">comment </a>
                <a style="border:solid white 1px;border-radius:50px" class="button" id="share" asp-controller="home" asp-action="sharepost" asp-route-id="@post.p_id">Share </a>

            </div>
        </div>


    }








</body>
</html>